<h2>Units</h2>

<div class="table-header">
  <form method="GET" action="/units">
    <input 
      type="text" 
      name="search" 
      placeholder="Search unit..." 
      value="<%= typeof search !== 'undefined' ? search : '' %>"
    >
    <button type="submit">Search</button>
  </form>

  <button><a href="/units/add" class="btn">Add Unit</a></button>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Nama Unit</th>
      <th>Note</th>
      <th width="150">Action</th>
    </tr>
  </thead>
  <tbody>

    <% if (typeof units !== 'undefined' && units.length > 0) { %>
      <% units.forEach(unit => { %>
        <tr>
          <td><%= unit.nama_unit %></td>
          <td><%= unit.note %></td>
          <td class="action">
            <a href="/units/edit/<%= unit.id %>" class="icon-btn edit">
              <i data-lucide="pencil"></i>
            </a>
            
            <a href="/units/delete/<%= unit.id %>" 
               class="icon-btn delete"
               onclick="return confirm('Delete unit?')">
              <i data-lucide="trash-2"></i>
            </a>
          </td>
        </tr>
      <% }) %>
    <% } else { %>
        <tr>
          <td colspan="3" style="text-align:center;">Data unit belum ada</td>
        </tr>
    <% } %>

  </tbody>
</table>

<!-- PAGINATION -->
<div class="pagination">
  <% if(typeof currentPage !== 'undefined' && currentPage > 1){ %>
    <a href="?page=<%= currentPage - 1 %>&search=<%= search %>">Prev</a>
  <% } %>

  <% if(typeof totalPages !== 'undefined'){ %>
    <% for(let i = 1; i <= totalPages; i++){ %>
      <a href="?page=<%= i %>&search=<%= search %>"
         class="<%= currentPage == i ? 'active' : '' %>">
         <%= i %>
      </a>
    <% } %>
  <% } %>

  <% if(typeof currentPage !== 'undefined' && currentPage < totalPages){ %>
    <a href="?page=<%= currentPage + 1 %>&search=<%= search %>">Next</a>
  <% } %>
</div>