<!DOCTYPE html>
<html>
<head>
    <title>Units</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@4.0.0-rc4/dist/css/adminlte.min.css"/>
    
</head>
<body>

<!-- SIDEBAR -->
<div class="sidebar">
    <div class="logo">POS APP</div>
    <a href="/dashboard" class="active">Dashboard</a>
    <a href="/members">Members</a>
    <a href="/units">Units</a>
    <a href="/users">Users</a>
</div>

<!-- MAIN -->
<div class="main">

    <!-- TOPBAR -->
    <div class="topbar">
        <div></div>
        <div class="profile">
            <span>Admin Pos</span>
            <div class="dropdown">
                <a href="/profile">Profile</a>
                <a href="/settings">Settings</a>
                <a href="/activity">Activity</a>
                <a href="/logout" onclick="return confirm('Logout sekarang?')">Logout</a>
            </div>
        </div>
    </div>
    
    <h2>Units</h2>
    
    <form method="GET">
        <input type="text" name="search" placeholder="Search..." value="<%= search %>">
        <button type="submit">Search</button>
    </form>
    
    <a href="/units/add">Tambah Unit</a>
    
    <table border="1">
<tr>
    <th>ID</th>
    <th>unit</th>
    <th>Note</th>
    <th>Aksi</th>
    <th>Created</th>
    <th>Updated</th>
</tr>

<% units.forEach(u => { %>
<tr>
    <td><%= u.id %></td>
    <td><%= u.unit %></td>
    <td><%= u.note %></td>
    <td>
        <a href="/units/edit/<%= u.id %>">Edit</a>
        <a href="/units/delete/<%= u.id %>">Delete</a>
    </td>
    <td><%= u.created_at %></td>
    <td><%= u.updated_at %></td>
</tr>
<% }) %>
</table>

<div>
<% for(let i=1;i<=totalPage;i++){ %>
    <a href="?page=<%= i %>&search=<%= search %>"><%= i %></a>
<% } %>
</div>